<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="./App.css">

</head>
<body>
    <div class="about">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="about__img">
                <img src="/img/product2.jpg" alt="Hot deal" />
              </div>
            </div>
            <div class="col-6 p-25">
              <h3>HOT DEAL</h3>
              <h1>CLEAN TREATS 4-PIECE CLEAN BEAUTY KIT</h1>
              <p>
              This exclusive, limited-edition clean beauty makeup
               kit includes 4 must-haves for a party-ready look, plus an eco friendly makeup bag made from recycled 
               plastic bottles.
              </p>
              <div class="about__btn">
                <a href="" class="btn btn-smart">
                  BUY NOW(50% OFF)
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>